@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="main-content">

                    <section class="row">
                        <section class="existed-wrap col-md-12">
                            <section class="col-md-3 existed-products-wrap">
                                <div class="to-right">
                                    Products
                                    <h2 class="bold">20</h2>
                                </div>
                                <footer class="view-all"><a href="products.html">View All<i class="fa fa-caret-right"></i></a></footer>
                            </section>
                            <section class="col-md-3 existed-categories-wrap">
                                <div class="to-right">
                                    Categories
                                    <h2 class="bold">11</h2>
                                </div>
                                <footer class="view-all"><a>View All<i class="fa fa-caret-right"></i></a></footer>
                            </section>
                            <section class="col-md-3 existed-tags-wrap">
                                <div class="to-right">
                                    Tags
                                    <h2 class="bold">15</h2>
                                </div>
                                <footer class="view-all"><a>View All<i class="fa fa-caret-right"></i></a></footer>
                            </section>
                        </section>
                    </section>
                    <section class="row">
                        <section class="col-md-12 panel recent-activities-wrap bgc-wrap">
                            <section class="panel-header">
                                <h3 class="header-title">Recent Activities</h3>
                            </section>
                            <section class="panel-body">
                                <table class="table recent-activities-table order-column" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>User</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>"Super" Library Added</td>
                                            <td>Lenya</td>
                                            <td>12.08.2016 16:56</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>"Spanish Guitar" Cover Changed</td>
                                            <td>Lenya</td>
                                            <td>26.09.2015 09:23</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>"Super" Library Added</td>
                                            <td>Lenya</td>
                                            <td>12.08.2016 16:56</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>"Spanish Guitar" Cover Changed</td>
                                            <td>Lenya</td>
                                            <td>26.09.2015 09:23</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>"Super" Library Added</td>
                                            <td>Lenya</td>
                                            <td>12.08.2016 16:56</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>"Spanish Guitar" Cover Changed</td>
                                            <td>Lenya</td>
                                            <td>26.09.2015 09:23</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>"Super" Library Added</td>
                                            <td>Lenya</td>
                                            <td>12.08.2016 16:56</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>"Spanish Guitar" Cover Changed</td>
                                            <td>Lenya</td>
                                            <td>26.09.2015 09:23</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>"Super" Library Added</td>
                                            <td>Lenya</td>
                                            <td>12.08.2016 16:56</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>"Spanish Guitar" Cover Changed</td>
                                            <td>Lenya</td>
                                            <td>26.09.2015 09:23</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>"Super" Library Added</td>
                                            <td>Lenya</td>
                                            <td>12.08.2016 16:56</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>"Spanish Guitar" Cover Changed</td>
                                            <td>Lenya</td>
                                            <td>26.09.2015 09:23</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </section>
                    </section>

                    <section class="row">
                        <section class="col-md-6">
                            <div class="widget">
                                <div class="widget-icon bg-green-light">
                                    <i class="fa fa-child"></i>
                                </div>
                                <div class="widget-content to-right bg-green">
                                    Total visitors
                                    <h2 class="bold">128,256</h2>
                                </div>
                            </div>
                        </section>
                        <section class="col-md-3">
                            <div class="widget social-facebook-color">
                                <div class="widget-icon social-facebook-color-dark">
                                    <i class="fa fa-facebook-square"></i>
                                </div>
                                <div class="widget-content to-right">
                                    Likes
                                    <h2 class="bold">512</h2>
                                </div>
                            </div>
                        </section>
                        <section class="col-md-3">
                        <div class="widget social-google-color">
                                <div class="widget-icon social-google-color-dark">
                                    <i class="fa fa-google-plus-square"></i>
                                </div>
                                <div class="widget-content to-right">
                                    Plus One
                                    <h2 class="bold">256</h2>
                                </div>
                            </div>
                        </section>

                </section>
                </section>
