@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
     <section class="row" style="padding:0 .56em;">
         <section class="col-xs-12 col-sm-12 col-md-12 body-page-content">
             <h2>Error404</h2>
         </section>
     </section>
</section> 