@{
    ViewBag.Title = "Up Down Sound - About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
                <section class="row" style="padding:0 .56em;">
                    <section class="col-xs-12 col-sm-12 col-md-12 body-page-content">
                        <h3>Who we are?</h3>
                        <p>The UpDownSound was founded in 2015 as a start-up that produces samples and loops and 5 members of our team. After 2 years we already had  an office with a sea view, recording studio and more than 50 people working for you 24/7 that you have various quality samples in best rates!</p>
                        <h3>Why buying with us?</h3>
                        <p>UpDownSound already 2 years record for you unique samples, publish great study staff how to help you write gorgeous music and do our best to provide the best rates on the music market.</p>
                        <h3>Follow us</h3>
                        <ul class="soc">
                            <li><a class="soc-facebook fa fa-facebook" href="https://www.facebook.com/Up-Down-Sound-1572286483090423/?notif_t=fbpage_fan_invite&notif_id=1458076455958910" target="_blank" title="Facebook"></a></li>
                            <li><a class="soc-youtube fa fa-youtube" href="https://www.youtube.com/channel/UCx1-JR5n2kNe40AylU5v-fw" target="_blank" title="Youtube"></a></li>
                            <li><a class="soc-instagram fa fa-instagram" href="https://www.instagram.com/updownsound/" target="_blank" title="Instagram"></a></li>
                            <li><a class="soc-soundcloud fa fa-soundcloud" href="https://soundcloud.com/updownsound1" target="_blank" title="Soundcloud"></a></li>
                        </ul>
                    </section> 
                </section> 
            </section> <!-- main content -->
