@{
    ViewBag.Title = "Up Down Sound - Ghost Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
                <section class="row" style="padding:0 .56em;">
                    <section class="col-xs-12 col-sm-12 col-md-12 body-page-content">
                        <h2>Ghost production</h2>

                        <p>
                            We are happy to offer you an outstanding and unique service.
                            Whether you are looking for a custom track created for you from scratch or you require help to finish what you have already started, we are happy to help you out. We also offer services in helping you create a drop or an arrangement. We work with all genres and we do it well.
                        </p>

                        <h3>Mixing:</h3>
                        <p>
                            We offer superb quality mixing. We will help you give your tracks those polished sounds and the outstanding quality they deserve.
                            A professional recording will allow your tracks to stand out in whichever market you are targeting. We take pride in providing the best services for our clients, placing a particular emphasis on the maximum volume and the clarity of your songs.
                            The process of submitting is simple and straightforward. When you initially send your track to a record label or an A & R, we will listen to the quality of the recording and make the necessary adjustments. We are interested in expanding your potential- which is why we will give you future advice for your work.
                            Before entering a contract with us, we offer to listen to your productions without any charge and give you professional feedback.
                        </p>

                        <h3>Custom Midi:</h3>
                        <p>If you struggle with melody writing we are more than welcome to help you out. Take the pain out do the process and allow a member of our team to do the work for you. All of our workers have an in-depth knowledge of the music theory, which allows us to create only top-notch products that fit any style or track.</p>

                        <h3>Remixes:</h3>
                        <p>Today remixes are considered to be one of the best ways to get your name out there. It can be anything- a remix completion or a track you happen to love, our team of professionals will be happy to help. </p>

                        <h3>Mashups:</h3>
                        <p>Mashups are the essential of any DJ set. We specialize in creating mashups of the highest quality, which is why we guarantee that your live sets will stand out and get the appreciation they deserve.</p>

                        <p>For any questions, orders or propositions please contact our Ghost Production Team: <a href="mailto:ghost@updownsound.net">ghost@updownsound.net</a></p>
                    </section> 
                </section> 
            </section> <!-- main content -->
