@{
    ViewBag.Title = "Up Down Sound - Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
                <section class="row" style="padding:0 .56em;">
                    <section class="col-xs-12 col-sm-12 col-md-12 body-page-content">
                        <h3>Payment and Downloading Products</h3>
                        <p>
                            Payment is taken on behalf of UpDownSound by Paypal. After payment you will be taken to a page where you can download your product(s). If your download fails you may reattempt to download from the same page. You have 3 download attempts in total, and the link will expire after 24 hours.
                            We will replace any defective product immediately at our cost. However we cannot accept returns for any other reason. If you are in any doubt as to the suitability of the product you are ordering, please listen to the demo of the product on this website or contact us directly for more information.
                        </p>
                        <h3>Prices</h3>
                        <p>All payments on UpDownSound are made in US Dollar. The prices displayed in currencies other than US dollar are only an approximation and the actual exchange rates applied by the banks at the time of purchase may vary.</p>

                        <h3>Website Terms And Conditions</h3>
                        <ol>
                            <li>
                                <h4>Introduction</h4>
                                These terms and conditions govern your use of our website; by using our website, you accept these terms and conditions in full. If you disagree with any part of these terms and conditions, do not use our website
                            </li>
                            <li>
                                <h4>Intellectual Property Rights</h4>
                                Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all our intellectual property rights are reserved.
                            </li>
                            <li>
                                <h4>License To Use The Website</h4>
                                Copying, re-selling, leasing, duplicating or distribution in any form of the products for sale, other than outlined in the ‘License Agreement’, is strictly prohibited.
                                This extends, but is not limited, to file sharing websites, web forums, computer networks and file hosting websites. Products cannot be distributed in their original format or sold in a manner that would be considered competitive with the nature of UpDownSound’ business, outlined in ‘About UpDownSound’. Everything else on the website is licensed to UpDownSound, including artwork, source code, materials, audio demos, graphics, text and logos and protected by copyright and intellectual property laws.
                            </li>
                            <li>
                                <h4>Limitations Of Liability</h4>
                                You acknowledge that it would be unreasonable to hold us liable in respect of this website and the information on this website.  Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we not commit to ensuring that the website remains available or that the material on this website is kept up-to-date.  To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions (including, without limitation, the conditions implied by law of satisfactory quality, fitness for purpose and the use of reasonable care and skill).  Our liability is limited and excluded to the maximum extent permitted under applicable law. We will not be liable for any direct, indirect or consequential loss or damage arising under these terms and conditions or in connection with our website, whether arising in tort, contract, or otherwise - including, without limitation, any loss of profit, contracts, business, goodwill, data, income, revenue or anticipated savings.  However, nothing in these terms and conditions shall exclude or limit our liability for fraud, for death or personal injury caused by our negligence, or for any other liability which cannot be excluded or limited under applicable law.
                            </li>
                            <li>
                                <h4>Security and Registration</h4>
                                You do not have to be registered with UpDownSound to view the website, but to purchase products you must provide certain information, including a user name, password and valid email address. Once these are provided they will be kept on file by UpDownSound.
                            </li>
                            <li>
                                <h4>The Right To Challenge A Transaction</h4>
                                UpDownSound reserve the right to challenge the legal standing of a transaction under sufficient circumstances. In such case the user will be contacted by UpDownSound staff individually to confirm his/her identity. Failure to verify a user's identity will result in cancelling the challenged order. A challenged order is open for validation for 30 days after the transaction.
                            </li>
                            <li>
                                <h4>Entire Agreement</h4>
                                These terms and conditions, together with our privacy policy, constitute the entire agreement between you and us in relation to your use of our website, and supersede all previous agreements in respect of your use of this website.
                            </li>
                        </ol>

                        <h3>Downloading Instruction</h3>
                        <p>
                            Thank you for visiting our site. The following note was written to facilitate the choice of the product you require and make your presence on the site, listening and following download process more comfortable.
                            You don`t need any registration for listening and browsing the content of the site. If you decided to buy any of the libraries of loops and samples you liked, you need to pass easy and fast registration process through email or Facebook. In the upper left corner you will find button Sign Up. It is near the button Log In. Click the button, fill the form and confirm your registration.
                            Download:
                            If you know exactly what you are looking for then on the main page you will find the search by instruments, formats, effects and genres.
                            <ol>
                                <li>Hold the mouse over it, chose the right category and all the available content will pop up. </li>
                                <li>Push the icon Play for listening, chose one or more products you like and then pass them to the cart by pushing the button Cart. </li>
                                <li>In the Cart you can manage the amount of formats in every chosen library (add or delete formats) by pushing the button Select Format. You can also delete from the Cart any amount of the libraries you have chosen by pushing the cross on the right of selected library.</li>
                                <li>When you are completely sure with the amount of formats and libraries you can push the button Proceed to Checkout, that will follow you to your PayPal account where you can make a payment. </li>
                                <li>After the payment and money received to the UpDownSound PayPal Account, you will find the product you bought in in the Order tab of your profile. Also you will see the button Download close to the files you got. </li>
                                <li>After pushing that button the file will be downloaded to your computer. Within half a year you will have the opportunity to download the files three times.</li>
                                <li>Also, after the payment you will automatically receive the invoice and receipt to the email that was mentioned in registration form.</li>
                            </ol>
                        </p>
                        <h3>FAQ’s</h3>
                        <p>
                            <strong>Question:</strong>  What does "royalty free" mean?<br>
                            <strong>Answer:</strong> This term refers to our license, which allows you to use all loops, samples, synth patches and sampler instruments in your productions, without having to pay any share of your earnings to Up Down Sound!
                        </p>
                        <p>
                            <strong>Question:</strong>  Is your website secure?<br>
                            <strong>Answer:</strong> All payments are processed by Paypal or Sagepay and we make every effort to ensure that your details are secure and protected at all times.
                        </p>
                        <p>
                            <strong>Question:</strong>  What formats do you provide?<br>
                            <strong>Answer:</strong>  Our sample packs and sampler instruments contain information on what formats are available on the main product page, and you can select different file types and packages from the drop-down menu. Waveform Audio File Format (.wav) contain raw audio data (although they can be used for non audio data) and are compatible with nearly all music software programs. Audio Interchangeable File format (.aiff or .aif) are similar to Wav files in that they contain uncompressed audio data, but can also contain other information and tags. They are compatible with most music software programs. Apple Loops (.aiff or .aif) contain hit-points and other data alongside the audio, which enables them to adjust to different tempos automatically, something Wav files are not capable of in their native form. They are compatible with Apple Logic Express, Logic Pro and Garageband, Soundtrack Pro and more. They have the same extension (.aiff or .aif) as an AIFF or AIF file that does not contain extra looping and hit-point info. Rex2 Loops are similar to Apple Loops in that they contain hit points and extra dat along with the audio, and are compatible with PreSonus Studio One, Propellerhead Reason, Steinberg Cubase, Steinberg Nuendo, Cockos REAPER, Apple Logic, Digidesign Pro Tools, Ableton Live, Cakewalk Project5, Cakewalk Sonar, Image-Line FL Studio, MOTU Digital Performer, MOTU Mach 5 (software sampler), and Synapse Audio Orion Platinum, among others. Acidised Wave Files ).wav) contain information similar looping information to Apple Loops and Rex2 Loops and are compatible with Sony Acid Pro. Whilst they are likely to work in all software programs that support the .wav format, they may not display the looping and tempo information in some programs. Kontakt (.nki) is a sampler instrument format compatable with Native Instruments' Kontakt. These kind of files usually provide the sampler instrument with all the necassary information to display the correct parameters and features specific, and will be provided with a collection of audio files in .wav or .aiff/.aif format. EXS24 (.exs) is a sampler instrument format compatable with the EXS24 sampler, found within Apple's Logic Express and Logic Pro software. NN-XT (.sxt) is a sampler instrument format compatable with the NN-XT sampler found within Propellerhead's Reason software. We also support other hardware and software sampler instrument formats such as Emulator X2 (.exb, .ebl, Steinberg Halion (.fxp), Batter (.kit), Motu Mach Five (.m5m, .m5p), Gigastudio (.gig), Native Instruments Maschine, Akai MPC and more!
                        </p>


                        <p>Our Contact Details for cooperation and technical support:</p>
                        <address>
                            Contact us at <a href="mailto:info@updownsound.net">info@updownsound.net</a> <br>
                            Or <a href="mailto:updownsound1@gmail.com">updownsound1@gmail.com</a><br>
                            Up Down Sound Group<br>
                            Keren Kayemet Le-Israel st. 6/5<br>
                            Rishon le-Zion 7528404<br>
                            Israel<br>
                            Phone: (972) 54-739-8464<br>
                            Fax: (972) 77-525-1433<br>
                        </address>


                    </section> 
                </section> 
            </section> <!-- main content -->
